* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #654062;
}

.header {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbd46d;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header__logo {
  height: 100px;
  width: 100px;
  padding: 10px;
}

.header__nav {
  width: 35%;
}

.header__nav-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header__nav-menu-items {
  display: flex;
  align-items: center;
}

.header__nav-menu-items img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.header__nav-menu-items a {
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  font-weight: bold;
  color: #ff9c71;
}

.title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: #e8ead3;
  font-weight: 400;
  margin: 20px 0;
}

.breakfast {
  /*  border: solid black 2px; */
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 20px;
}

.breakfast__product {
  width: 500px;
  margin-bottom: 65px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 3px 45px 2px rgba(0, 0, 0, 0.61);
}

.breakfast__product img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center 75%;
  border-radius: 50%;
}

.breakfast__product-detail_container {
  width: 70%;
}

.breakfast__product-title-price {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  border-bottom: 3px double #e8ead3;
}

.breakfast__product-title-price h4 {
  font-family: "Dancing Script", cursive;
  color: #e8ead3;
  text-transform: capitalize;
}

.breakfast__product-title-price p {
  color: #ff9c71;
  font-size: 18px;
  font-weight: bold;
}

.breakfast__product-description {
  color: #e8ead3;
  font-size: 14px;
}

.breakfast__message {
  margin: 0 auto;
  text-align: center;
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
  color: #e8ead3;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  width: 600px;
  height: 600px;
  border-radius: 20px;
}

.charts {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.charts img {
  height: 900px;
  width: 900px;
  border-radius: 30px;
  margin: 0 10px 0 0;
}

.map {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.footer {
  width: 100%;
  height: 120px;
  margin-top: 30px;
  border: solid 1px;
  background-color: #fbd46d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer h3 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: #ff9c71;
}
.footer__social-media a {
  text-decoration: none;
}

.footer__social-media img {
  height: 40px;
  width: 40px;
  margin: 0 30px;
}

/* Responsive */

@media screen and (max-width: 1920px) {
  .header__nav {
    width: 50%;
  }
  .charts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .charts img {
    margin-bottom: 20px;
  }
}
